
<html>
<head>

    <%-include('layout/headscript')-%>
    <script src="/frontend/Scripts/angular-filter.js"></script>


</head>
<body onload="preventBack();" onunload="" ng-app="WaterResourceApp" ng-controller="WaterResourceController" ng-cloak>


<%-include('layout/header')-%>

<div class="row">
<%-include('layout/leftmenu')-%>

<div class="admin-panel-pager">
<div class="change-password">

<form action="/admin/changepassword" method="post" role="form">
  <input name="_csrf" type="hidden" value="<%=locals.csrfToken%>" />
      <div class="row">
            <div class="box col-md-2 col-sm-2">
                <label> Existing Password : </label>
            </div>
            <div class="box col-md-1 col-sm-1"> <span class="asterisk">*</span> </div>
            <div class="box col-md-5 col-sm-5">
                <input type="password" name="Old_PWD" ng-model="txtExisPWD">
            </div>
            <div class="box col-md-1 col-sm-1"></div>
            <div class="box col-md-1 col-sm-1">
                <div class="tooltip">i <span class="tooltiptext">Existing Password </span> </div>
            </div>
            <div class="box col-md-1 col-sm-1"> </div>
        </div>
        <div class="row">
            <div class="box col-md-2 col-sm-2">
                <label> New Password : </label>
            </div>
            <div class="box col-md-1 col-sm-1"> <span class="asterisk">*</span> </div>
            <div class="box col-md-5 col-sm-5">
                <input type="password" name="Password" ng-change="analyze(txtNewPWD)" ng-model="txtNewPWD">
            </div>
            <div class="box col-md-1 col-sm-1"> <label class="col-md-12 col-sm-12 col-xs-12" ng-style="passwordStrength"></label></div>
            <div class="box col-md-1 col-sm-1">
                <div class="tooltip">i <span class="tooltiptext">New Password </span> </div>
            </div>

        </div>
        <div class="row">
            <div class="box col-md-2 col-sm-2">
                <label> Confirm Password : </label>
            </div>
            <div class="box col-md-1 col-sm-1"> <span class="asterisk">*</span> </div>
            <div class="box col-md-5 col-sm-5">
                <input type="password" name="ConfPWD" ng-model="txtConfPWD">
            </div>
            <div class="box col-md-1 col-sm-1"></div>
            <div class="box col-md-1 col-sm-1">
                <div class="tooltip">i <span class="tooltiptext">Conform Password </span> </div>
            </div>
            <div class="box col-md-1 col-sm-1"> </div>
        </div>
        <div class="row" style="margin-left:0px;">
          <%if(locals.sessionFlash == "success"){%>
            <span style="color:green">
              Password Successfully Updated
            </span>
          <%}else{%>
            <span style="color:red">
              <%=locals.sessionFlash %>
            </span>
          <%}%>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-4 col-sm-8 offset-sm-4">
                <div class="box col-md-2 col-sm-2">
                    <input type="submit" class="btn btn-blue btn-sm" value="Send"/>
                </div>
                 <div class="box col-md-2 col-sm-2">
                <input type="reset" class="btn btn-red btn-sm" value="Cancel"/>
            </div>
            </div>
        </div>
</form>    <div class="row">
             <div class="box col-md-12">
                <div class="caption">
                    <h4>Change Password Instruction</h4>
                </div>
            </div>
        <div class="col-md-10 offset-md-1">
            <ol>
                <li> Password must have 8-15 Digit </li>
                <li> Password must have a one special character</li>
            </ol>
        </div>
    </div>
</div>


</div>
</div>

<script src="/frontend/Scripts/sha256.js"></script>
<script src="/frontend/js/adminside.js"></script>

</body>
</html>
